@tailwind base;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


@tailwind components;

@tailwind utilities;


.html {
  @apply antialiased;
}

.bg-slider-1{
  background-image: url('../images/slider-bg.jpg');

}

.bg-slider-1::before{
content: "";
position: absolute;
background-color: rgba(0, 0, 0, 0.5);
width: 100%;
height: 100%;
z-index: 1;
}

h2 {
  @apply font-bold text-2xl uppercase;
}

.section-background-gray{
position: relative;
}
.section-background-gray::before{
     content: "";
     position: absolute;
     background-color: rgb(246, 249, 255);
     width: 100vw;
     height: calc(100% + 160px);
     top: 0;
     left: 0;
     z-index: -1;
     transform: skewY(-2deg);

/* @apply bg-gray-200; */
}

.straight::before {
transform: skewY(0deg);
@apply bg-gray-100;
} 


img{
  width: 100%;
  height: auto;
}
